@import 'lib/styles/global-variables.sass'

.comments
  background-color: $color-gray-light
  padding-bottom: 80px
  padding-top: 80px
  width: 100%
  @media (max-width: $media-mobile)
    padding-bottom: 60px
    padding-top: 60px

  #disqus_thread
    margin: 0 auto
    max-width: 664px
    width: 100%
