*
  transition: all 250ms ease-in-out
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  color: #1D1F24
  font-family: 'Lato', sans-serif
  margin: 0

ol
  padding: 0

figure
  margin: 0
