@import 'lib/styles/global-variables.sass'

#navigation-bar
  align-items: center
  background-color: white
  border-bottom: 1px solid $color-gray-light
  box-sizing: border-box
  display: flex
  height: 90px
  padding-left: 40px
  position: fixed
  top: 0
  width: 100%
  z-index: 1
  @media (max-width: $media-tablet)
    height: 70px
    padding-left: 23px

  #navigation-bar__logo
    display: flex
